<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" as="style" href="style.css" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <title>EATSTEAK</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-wide">
            <a class="navbar-logo">
                <img src="static/logo-monotone.svg" width="64px" height="64px" alt="EATSTEAK">
            </a>
            <ul class="navbar-link">
                <li class="navbar-link-selected"><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </div>
    </nav>
    <section class="navbar-padding"></section>
    <section class="full-page background-logo">
        <div class="container">
            <div class="intro">
                <div>
                    <p class="intro-header">
                        GRILLING
                        <br />
                        <span class="g-blue-red">BURNING-HOT</span>
                        <br />
                        APPLICATIONS
                    </p>
                    <p class="intro-subheader">
                        따끈하다 못해 <span class="color-red text-bold">뜨거운</span>
                        <br />
                        어플리케이션을
                        <br />
                        만듭니다.
                    </p>
                </div>
                <div class="center-wrap">
                    <div id="scroll_to_more">
                        <p>스크롤하여 더 보기</p>
                        <img src="static/icon-down.svg" width="24px" height="24px" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-page">
        <div id="about" class="container">
            <article class="introduction">
                <h1 class="text"><span class="bg-black color-white intro-subheader">ABOUT</span></h1>
                <p class="text"><b>구효민</b><span>(Hyomin Koo, aka. EATSTEAK)</span></p>
                <p class="text">사람과 직접 마주하는 애플리케이션을 <b>사용자의 눈높이에서</b> 제작할 수 있도록 항상 노력합니다.</p>
            </article>
            <article id="careers">
                <aside class="list">
                    <aside class="arrow">
                        <div class="arrow-bar"></div>
                        <img class="arrow-head" src="static/icon-down.svg">
                    </aside>
                    <ul>
                        <li>
                            <img src="static/careers/ytct2020.png">
                            <div>
                                <h2>기획/개발 - YouTube Creator Town 2020</h2>
                                <p>
                                    Project Designer and Developer, YouTube Creator Town 2020
                                    <br />
                                    (2020, YouTube Korea)
                                </p>
                            </div>
                        </li>
                        <li class="selected">
                            <img src="static/careers/soongsil.svg" width="72px" height="72px">
                            <div>
                                <h2>숭실대학교 글로벌미디어학부</h2>
                                <p>
                                    Soongsil University, School of Media Bachelor's degree
                                    <br />
                                    (2021.03 ~ )
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="static/careers/ytct2021.png">
                            <div>
                                <h2>개발팀 리드 - YouTube Creator Town 2021</h2>
                                <p>
                                    Lead Developer, YouTube Creator Town 2021
                                    <br />
                                    (2021, YouTube Korea)
                                </p>
                            </div>
                        </li>
                        <li>
                            <img src="static/careers/oms.png">
                            <div>
                                <h2>상무이사 @ (주)우마공크리에이티브</h2>
                                <p>
                                    Managing Director - OMS Creative Ltd.
                                    <br />
                                    (2021.05 ~ )
                                </p>
                            </div>
                        </li>
                    </ul>
                </aside>
                <main>
                    <img src="static/careers/soongsil.svg" width="240px" height="240px">
                    <p>2021년 3월부터 숭실대학교 글로벌미디어학부 학부생으로 재학중입니다.</p>
                </main>
            </article>
        </div>
    </section>
    <section class="full-page">
        <div id="skills" class="container skills">
            <h1><span class="bg-black color-white intro-subheader">SKILLS</span></h1>
            <p>웹 프론트엔드 기술 뿐만 아니라 게임 모드 개발, 클라우드 서비스 등 다양한 기술을 경험했습니다.</p>
            <h2>Languages</h2>
            <div>
                <img src="static/badges/kotlin.png">
                <img src="static/badges/java.png">
                <img src="static/badges/html5.png">
                <img src="static/badges/css3.png">
                <img src="static/badges/javascript.png">
                <img src="static/badges/typescript.png">
            </div>
            <p>Java, Kotlin 등 JVM 기반 언어와 웹 프론트엔드를 구현하는 데 필요한 언어인 HTML5, CSS3, JavaScript, TypeScript에 대한 지식을 가지고 있습니다.</p>
            <h2>Front-end Frameworks</h2>
            <div>
                <img src="static/badges/react.png">
                <img src="static/badges/vuejs.png">
                <img src="static/badges/svelte.png">
            </div>
            <p>React, Vue, Svelte등 다양한 웹 프론트엔드 프레임워크에 대한 이해를 바탕으로 다양한 프로젝트를 제작하였습니다.</p>
            <h2>Back-end Frameworks</h2>
            <div>
                <img src="static/badges/spring.png">
                <img src="static/badges/expressjs.png">
            </div>
            <p>Spring Boot와 같은 JVM 기반의 백엔드, Express.js 와 같은 Node.js 기반의 백엔드 경험이 있습니다.</p>
            <h2>And more...</h2>
            <p>이외에도 AWS, GCP 등의 클라우드 서비스와 간단한 Automation을 위한 Python, NoSQL 계열 DB인 MongoDB와 DynamoDB 등을 통해 프로젝트를 관리하고 운영해 본 경험이 있습니다.</p>
        </div>
    </section>
    <section class="full-page">
        <div id="projects" class="container">
            <h1><span class="bg-black color-white intro-subheader">PROJECTS</span></h1>
            <section>
                <ul>
                    <li><img src="static/projects/ytct2020.png"></li>
                    <li class="selected"><img src="static/projects/ytct2021.png"></li>
                    <li><img src="static/projects/arcinfo.png"></li>
                    <li><img src="static/projects/comet.png"></li>
                </ul>
                <div id="project_details">
                    <img src="static/projects/ytct2021_details.png" width="100%">
                    <article>
                        <h2>유튜브 크리에이터타운 2021 대운동회</h2>
                        <p>YouTube Creator Town 2021</p>
                    </article>
                </div>
                <article>
                    <p><b>IN DEVELOPMENT /</b> 2021.07~PRODUCTION DAY</p>
                    <p><b>IN PRODUCTION /</b> 2021.09.30~2021.10.01</p>
                    <p><b>ROLE /</b> 개발팀 리드(Lead Developer)</p>
                    <p><b>USED SKILLS /</b> Kotlin, Spring Boot, Google Cloud Platform, Pulumi...</p>
                    <p>
                        <b>DESCRIPTION /</b><br />
                        이틀간 약 300명의 크리에이터들을 대상으로 게임 "마인크래프트" 내 메타버스 공간에서 운동회를 진행한다는 컨셉으로 진행된 행사입니다. 서버와 클라이언트의 부하가 큰 게임의 특성 상 클라이언트와 서버의 수정, 콘텐츠 구현을 중점으로 최적화, 클라우드 관리까지 총괄하여 진행하였습니다.
                    </p>
                </article>
            </section>
        </div>
    </section>
    <section class="full-page">
        <div id="contacts" class="container">
            <h1><span class="bg-black color-white intro-subheader">CONTACTS</span></h1>
            <form>
                <div class="form-group">
                    <div>
                        <label for="name">이름</label>
                        <input type="text" id="name" />
                    </div>
                    <div>
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" />
                    </div>
                </div>
                <label for="title">제목</label>
                <input type="text" id="title" />
                <label for="content">내용</label>
                <textarea id="content"></textarea>
                <div class="submit">
                    <button type="submit">등록</button>
                </div>
            </form>
            <section>
                <article>
                    <h5>이름</h5>
                    <h2>제목</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto aspernatur consectetur consequuntur debitis dicta esse et fugit inventore itaque iure, iusto magni minus omnis optio, quam reiciendis voluptatem voluptatum.</p>
                </article>
            </section>
        </div>
    </section>
</body>
</html>