:root {
    --size-1: 0.1rem;
    --size-2: 0.5rem;
    --size-3: 1rem;
    --size-4: 2rem;
    --full-height: calc(100vh - 68px);
}

html {
    line-height: 1.6em;
    word-break: keep-all;
    min-height: 100vh;
    background: #FFFFFF linear-gradient(71.87deg, rgba(232, 17, 35, 0.8) 0%, rgba(247, 99, 12, 0.8) 43.67%, rgba(255, 185, 0, 0.8) 82.75%) fixed;
}

body {
    display: flow-root;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    margin: 0;transition: 2s linear all;
}

.container {
    box-sizing: border-box;
    --container-size: 100%;
    width: var(--container-size);
    margin: 0 auto;
    padding-top: var(--size-3);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar .container-wide {
    display: flex;
    align-items: center;
}

.container-wide {
    min-width: 100%;
    padding: 0 var(--size-2);
    box-sizing: border-box;
}

.navbar-logo {
    display: inline flow-root;
}

.navbar-link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
}

.navbar-link li {
    padding: var(--size-2);
}

.navbar-link a {
    text-decoration: none;
    color: white;
}

.navbar-link-selected {
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-logo img {
    filter: invert(1);
}

.navbar-padding {
    margin-bottom: 68px;
}

.full-page {
    min-height: var(--full-height);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: auto;
}

.background-logo {
    background-image: url("static/logo-color.svg");
    background-position: right -410px bottom -530px;
    background-repeat: no-repeat;
}

.intro {
    box-sizing: border-box;
    padding-top: var(--size-4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.intro-header {
    word-break: break-all;
    line-height: 1.2em;
    font-size: 4rem;
    font-weight: bold;
}

.intro-subheader {
    line-height: 1.2em;
    font-size: 2rem;
}

.text {
    padding: var(--size-1) 0;
}

.g-blue-red {
    animation: 3s linear 0s infinite burn;
    background: linear-gradient(272.89deg, #E81123 1.91%, #0078D7 35.3%, #E81123 96.2%);
    background-size: 600px 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

@keyframes burn {
    from {
        background-position: 0 50%;
    }
    to {
        background-position: 600px 50%;
    }
}

.color-red {
    color: #E81123;
}

.text-bold {
    font-weight: bold;
}

.bg-black {
    background-color: black;
}

.color-white {
    color: white;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: var(--size-2) 0;
    padding: 0;
}

.center-wrap {
    display: flex;
    justify-content: center;
}

#scroll_to_more {
    padding-bottom: var(--size-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#careers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}

#careers main {
    padding: var(--size-3);
    text-align: center;
    flex: 0 1;
}

#careers .list {
    display: flex;
    flex: 1 0;
}

#careers ul {
    list-style-type: none;
    padding: 0;
}

#career_list li {
    transition: 0.5s linear all;
}

#career_list img {
    border-radius: 12px;
}

#career_list .selected {
    background-color: black;
    color: white;
}

#career_detail_list img {
    border-radius: 24px;
}

#career_detail_list > main {
    display: none;
}

@keyframes fadeInFromTop {
    from {
        transform: translate(0, -16px);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes fadeInFromLeft {
    from {
        transform: translate(-16px, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

#career_detail_list .selected {
    display: block;
    animation-duration: 0.5s;
    animation-name: fadeInFromTop;
}

#careers li {
    padding: var(--size-2);
}

#careers .arrow {
    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#careers .arrow-bar {
    width: 4px;
    flex-grow: 1;
    background-color: black;
}

#careers .arrow-head {
    overflow: visible;
    margin-top: -8px;
    width: 48px;
}

#projects ul {
    list-style-type: none;
    display: flex;
    overflow-x: scroll;
    padding: 0;
}

#project_list .selected img {
    border: 2px solid black;
    border-radius: 12px;
    box-sizing: border-box;
}

#project_thumbnail_list > div {
    display: none;
}

#project_thumbnail_list .selected {
    display: block;
}

#project_detail_list > article {
    display: none;
}

#project_detail_list .selected {
    display: block;
}

#project_details {
    position: relative;
}

label.block-label {
    display: block;
    margin-top: var(--size-2);
}

input.input-text {
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    padding: var(--size-2);
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: var(--size-2);
    width: 100%;
}

#contacts form input {
    box-sizing: border-box;
    width: 100%;
}

#contacts form .form-group input {
    width: 100%;
}

#contacts .form-group div {
    flex-grow: 1;
}

textarea.input-text {
    box-sizing: border-box;
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    width: 100%;
    padding: var(--size-2);
}

button.btn-submit {
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    background-color: #5C9DFF;
    color: white;
}

.submit {
    display: flex;
    gap: var(--size-2);
    justify-content: end;
    align-items: center;
    margin: var(--size-2) 0;
}

#project_thumbnail_list > div {
    animation-duration: 0.5s;
    animation-name: fadeInFromLeft;
    position: relative;
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
}

#project_thumbnail_list article {
    box-sizing: border-box;
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: var(--size-3);
}

#projects li {
    margin: 0 var(--size-2);
}

#projects li img {
    width: 64px;
}

.btn-lg {
    padding: var(--size-3);
    width: 200px;
}

.btn {
    padding: var(--size-2);
}

.btn-secondary {
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    background-color: gray;
    color: black;
}

.btn-edit {
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    background-color: white;
    color: black;
}

.btn-delete {
    border: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    background-color: #E81123;
    color: white;
}

#career_list li {
    cursor: pointer;
}

#project_list li {
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

dialog[open] {
    animation-duration: 0.5s;
    animation-name: fadeInFromTop;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog[open] > section {
    background-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 12px;
    padding: var(--size-3);
}

@media screen and (max-width: 576px) {
    body {
        font-size: 12px;
    }
    .intro-header {
        font-size: 3rem;
    }

    .intro-subheader {
        font-size: 1.5rem;
    }

    .container {
        --container-size: 90%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        --container-size: 540px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        --container-size: 720px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        --container-size: 960px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        --container-size: 1140px;
    }
}
